.game-wrapper {
	background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	min-height: 100vh;
	padding: 1.875rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.current-scores {
	border: 3px solid #606E85;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.875rem;
	margin-bottom: 6.5rem;
}

.logo {
	width: 30%;
}

.score-wrapper {
	background-color: #fff;
	width: 30%;
	padding-block: 0.625rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	
	&:first-of-type {
		margin-left: auto;
	}

	&__label {
		color: var(--clr-text-score);
		font-size: var(--fs-300);
	}

	&__value {
		font-weight: 700;
		font-size: var(--fs-700);
		line-height: 1;
	}
}

.choices {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	row-gap: 1rem;
	column-gap: 2rem;
	grid-template-areas: 
		'paper scissors'
		'rock rock';
	background-image: url(../images/bg-triangle.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	margin-bottom: 8.75rem;
	

	&__button {
		border-radius: 50%;
		border: 15px solid;
		width: 100%;
		aspect-ratio: 1;
		background-repeat: no-repeat;
		background-size: 45%;
		background-position: center;

		&--paper {
			grid-area: paper;
			border-color: var(--clr-paper);
			background-image: url(../images/icon-paper.svg);

		}
	
		&--scissors {
			grid-area: scissors;
			border-color: var(--clr-scissors);
			background-image: url(../images/icon-scissors.svg);
		}
	
		&--rock {
			grid-area: rock;
			// subtract half of the column gap to have the same width
			width: calc(50% - 1rem);
			border-color: var(--clr-rock);
			background-image: url(../images/icon-rock.svg);
		}

	}
}

.round-results {
	display: flex;
	flex-direction: column;
}

.moves {
	display: flex;
	justify-content: space-between;
	gap: 10%;
	margin-bottom: 2rem;

	& > div {
		// the divs that holds the player move and computer move
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		letter-spacing: 0.85px;
		text-align: center;
		color: #fff;
	}

	.moves__display {
		width: 100%;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 15px solid red;
		background-color: white;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
		transform: scale(0.25);
		transition: transform 300ms ease-in-out, opacity 400ms ease-in-out;

		&.appear {
			opacity: 1;
			transform: scale(1);
		}
		
		&--rock {
			border-color: var(--clr-rock);
			background-image: url(../images/icon-rock.svg);
		}

		&--paper {
			border-color: var(--clr-paper);
			background-image: url(../images/icon-paper.svg);
		}

		&--scissors {
			border-color: var(--clr-scissors);
			background-image: url(../images/icon-scissors.svg);
		}
	}
}

.results {
	width: 80%;
	align-self: center;
	margin-bottom: 3.125rem;
	text-align: center;

	opacity: 0;
	transform: scale(0.25);
	transition: transform 300ms ease-in-out, opacity 400ms ease-in-out;

	&.appear {
		opacity: 1;
		transform: scale(1);
	}

	&__text {
		font-size: var(--fs-800);
		font-weight: 700;
		color: #fff;
	}

	&__btn {
		width: 100%;
		background-color: #fff;
		border: none;
		border-radius: 0.5rem;
		padding-block: 1rem;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}

.rules-btn {
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	border: 2px solid var(--clr-gray);
	border-radius: 10px;
	padding-block: 0.7rem;
	width: 40%;
}